<main role="main" class="container">
  <section class="phx-hero">
    <h1><%= gettext "Welcome to The Rush" %></h1>

    <div class="row">
      <div class="column">
        <p>
          <a target="_blank" href="/swagger">
            Click here to visit the API Spec
          </a>
        </p>
      </div>

      <div class="column">
        <p>
          <a href="/players">
            Click here to visit players list
          </a>
        </p>
      </div>
    </div>
  </section>
<main>